<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <form action="signup" method="post">
       {% csrf_token %}
    <label for="">Username</label>
    <input type="text" name="username" id="username">
<br/>
    <label for="">firstame</label>
    <input type="text" name="firstame" id="firstame">
    <br/>
    <label for="">lastname</label>
    <input type="text" name="lastname" id="lastname">
    <br/>
    <label for="">password</label>
    <input type="password" name="password" id="password">
    <br/>
    <label for="">confirmpassword</label>
    <input type="password" name="confirmpassword" id="confirmpassword">
    <br/>
    <label for="">email</label>
    <input type="email" name="email" id="email">
<br/>
<button type="submit">signup</button>
</form>
</body>
</html>